
body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.avatar {
  vertical-align: middle;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.map-container { 
  overflow:hidden; 
  padding-bottom:56.25%; 
  position:relative; 
  height:0; 
} 

.map-container iframe { 
  left:0; 
  top:0; 
  height:100%; 
  width:100%; 
  position:absolute; 
}


